.brand-logo {
  margin: 5px;
  filter: invert(100%);
}

.map-placeholder {
  margin-top: 20px;
}

.shorten {
  width: fit-content;
}

.title {
  margin-right: 85px;
  display: block;
}

#map {
  height: min(500px, 40vh);
  max-width: min(700px, 100%);
}

nav {
  margin-bottom: 20px;
}

.btn,
.btn-large,
.btn-small {
  font-size: 1.25rem;
}

nav ul a {
  font-size: 1.25rem;
}

.yelpRatingContainer {
  display: flex;

}

#yelpPic {
  max-height: 50px;
  margin-bottom: 15px;
}

#yelpIcon {
  display: inline-block;
  height: 50px;
}